.main {
  display: flex;

  flex-direction: column;
  justify-content:space-between;
  align-items: center;

  padding: 2rem;
  min-height: 100vh;
  gap: 2rem;

  position: absolute;

  width: 100%;
  height: 100%;

  background: var(--light-background);
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 2rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  flex-basis: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.description p {
  color: var(--dark-background);
}

.container {
  background: var(--chrome);

  border-radius: var(--border-radius);

  padding: 1rem;

  gap: 1rem;

  flex-grow: 1;

  display: inherit;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  overflow: hidden;
}

.chatContainer {
  display: block;

  align-self: stretch;

  gap: 1rem;

  min-height: min-content;

  overflow-y: scroll;
}

.chatContainer li {
  margin-top: 1rem;
}

.card {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 34ch;
}

.chatBox {
  width: 100%;
  height: 100%;

  height: 42px;

  background: var(--light-background);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  padding: 4px;
}

.chatBox input {
  border: none;
  outline: none;

  margin: 0;
  padding: 0.5rem 1rem;

  height: 100%;
  flex-grow: 1;

  font-size: 1.0rem;

  background: transparent;
  color: var(--dark-background);
}

.chatBox .button {
  background-color: var(--dark-background);
  color: white;

  width: 34px;
  height: 34px;

  border-radius: calc(var(--border-radius) - 4px);
}

.chatBox .button:hover {
  background-color: #4c7317;
}

.chatBox .button:active {
  background-color: #25350d;
}

.chatBox .button span {
  display: block;

  height: 34px;

  line-height: 34px;
  text-align: center;

  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.chatContainer>li {
  display: flex;
  flex-direction: column;
}

.message ol {
  list-style: decimal;
  list-style-position: inside;
}

.message pre {
  margin: 12px 0 12px 0;
  padding: 8px;

  background-color: white;

  border-color: rgba(56, 82, 20, 0.25);
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;

  color: var(--dark-background);
}

.message {
  border-radius: var(--border-radius);

  padding: 1.0rem;
  padding-right: 3.0rem;

  min-width: 15rem;
  max-width: 80rem;

  height: min-content;
}

.message.user {
  position: relative;
  background-color: var(--dark-background);
  color: var(--light-background);

  align-self: flex-end;
}

.message.bot {
  background-color: var(--light-background);
  color: var(--dark-background);

  align-self: flex-start;
}

.message .callout {
  opacity: 0.5;

  user-select: none;
  -webkit-user-select: none;

  margin-bottom: 0.5rem;

  font-size: 0.8rem;
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}